.topLevel {
  background-color: var(--backgroundColor);
}

.wrapper {
  height: 100%;
  background-repeat: no-repeat;
  background-position: right 100px;
  background-attachment: fixed;
}

.container {
  width: var(--containerWidth);
  margin-top: 20px;
  margin-left: 5%;
}
