.wrapper {
  height: 100%;
  background-repeat: no-repeat;
  background-position: right 100px;
  background-attachment: fixed;
  background-color: var(--backgroundColor);
  margin-left: 15%;
}

.container {
  width: var(--containerWidth);
  margin-top: 20px;
}
